#personalia
  height: 30em


  .content
      margin-top: 0

    .content-header
        padding-left: 20px
        padding-bottom 0px

 h1
    color: #ad1d29
    text-align:center
    margin-bottom 10px


 #foto
    margin-top : 10px